{% extends 'layouts/default.html' %}

{% block style %}

@media screen and (min-width: {{ breakpoint }}) {
  h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
}

{% endblock %}

{% block header %}
<h1><a href="index.html">Christina Nava</a></h1>
<nav>
  <ul class="list-reset m0">
    {%- for s in [ 'photo', 'research', 'motion', 'about' ] -%}
    {%- if s == section -%}
    <li class="inline-block m1 active">{{ s }}</li>
    {%- else -%}
    <li class="inline-block m1"><a href="{{ s }}.html">{{ s }}</a></li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
{% endblock %}
