{% from 'partials/grid-item.html' import grid_item %}

{% extends 'layouts/default.html' %}

{% block head %}
<link href="/assets/vendor/photoswipe/photoswipe.css" rel="stylesheet">
<link href="/assets/vendor/photoswipe/default-skin/default-skin.css" rel="stylesheet">
<script src="/assets/vendor/photoswipe/photoswipe.min.js"></script>
<script src="/assets/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
{% endblock %}

{% block style %}

@media screen and (min-width: {{ breakpoint }}) {
  h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover,
header li.active {
  color: #ff84b5;
  border-bottom: 1px solid #ff84b5;
}

{% endblock %}

{% block header %}
<h1><a href="index.html">Christina Nava</a></h1>
<nav>
  <ul class="inline-block clearfix list-reset m0">
    {% for s in [ 'photo', 'research', 'motion' ] %}
    {% if s == section %}
    <li class="left m1 active">{{ s }}</li>
    {% else %}
    <li class="left m1"><a href="{{ s }}.html">{{ s }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endblock %}

{% block main %}
<div class="grid">
  <div class="grid-sizer sm-col sm-col-12 md-col-3 m0"></div>
  {% for image in images %}
    {{ grid_item(*image) }}
  {% endfor %}
</div>
{% include 'partials/photoswipe.html' %}
{% endblock %}

{% block script %}
<script>
  imagesLoaded('.grid', function () {
    var iso = new Isotope('.grid', {
      itemSelector: '.grid-item',
      percentPosition: true,
      masonry: {
        columnWidth: '.grid-sizer',
      },
    });
  });
</script>
{% endblock %}
