{% extends 'layouts/section.html' %}

{% block main %}
<div class="clearfix">
  <div class="sm-col sm-col-12 md-col-5 px2">
    <img class="fit" src="/media/about.jpg" alt="Christina Nava">
  </div>
  <div class="sm-col sm-col-12 md-col-7 px2 left-align">
    <p class="bold">Hello!</p>
    <p>I am a photo editor residing in NYC.</p>
    <p>
      I am currently the Associate Photo Editor at Real Simple Magazine.
      I have previously worked at Southern Living, as a studio manager in LA,
      and as a photo rep in training at Redeye Represents. I received my BFA
      in Media Arts and Sciences from Wellesley College. Please contact me
      with any inquiries or projects at <a href="mailto:thechristinanava@gmail.com">thechristinanava@gmail.com</a>.
    </p>
  </div>
</div>
{% endblock %}
