{% from 'partials/grid-item.html' import grid_item %}

{% extends 'layouts/section.html' %}

{% block head %}
<link href="/assets/vendor/photoswipe/photoswipe.css" rel="stylesheet">
<link href="/assets/vendor/photoswipe/default-skin/default-skin.css" rel="stylesheet">
<script src="/assets/vendor/photoswipe/photoswipe.min.js"></script>
<script src="/assets/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
{% endblock %}

{% block style %}
{{ super() }}

.subcategories {
  background-color: rgba(255,132,181,.25);
}

@media screen and (min-width: {{ breakpoint }}) {
  .subcategories {
    display: inline-block;
    border-radius: 5px;
  }
}

.subcategories input { opacity: 0; }

.subcategories input + span {
  padding: 3px;
  font-size: .875em;
  border-radius: 3px;
}

.subcategories input:checked + span,
.subcategories span:hover {
  background-color: #ff84b5;
}

{% endblock %}

{% block header %}
{{ super() }}
<ul class="clearfix list-reset subcategories my1">
{%- for cat in (images.keys() | sort) -%}
  <li class="inline-block m1"><label class="relative" for="{{ cat }}"><input name="filter" id="{{ cat }}" class="absolute" type="checkbox"><span>{{ cat | replace('-', ' ') }}</span></label></li>
{%- endfor -%}
</ul>
{% endblock %}

{% block main %}
<div class="grid">
  <div class="grid-sizer sm-col sm-col-12 md-col-3 m0"></div>
  {% for subcategory, imgs in images.items() %}
  {% for path, width, height in imgs %}
    {{ grid_item(path, width, height, cls = subcategory) }}
  {% endfor %}
  {% endfor %}
</div>
{% include 'partials/photoswipe.html' %}
{% endblock %}

{% block script %}
<script>

  imagesLoaded('.grid', function () {
    var iso = new Isotope('.grid', {
      itemSelector: '.grid-item',
      percentPosition: true,
      masonry: {
        columnWidth: '.grid-sizer',
      },
    });
  });

  var inputs = [].slice.call(document.querySelectorAll('input[name="filter"]'));
  inputs.forEach(function (input) {
    input.addEventListener('change', function () {
      console.log('Changed');
    });
  });

</script>
{% endblock %}
